# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.log

# Data / recordings
*.pcap
*.pcapng
*.mp4
*.avi
*.jpg
*.png
*.heif
dataset/
captures/
recordings/
logs/

# OS junk
.DS_Store
Thumbs.db

# local tc scripts
tc_netem_with_qos.sh

# local tc scripts
tc_netem_only.sh
